<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="/register" method="post">
    <img class="mb-4" src="assets/img/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">请注册</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}" ></p>
    <label class="sr-only">学号</label>
    <input type="text" class="form-control" name="sno" placeholder="学号"  required="" autofocus="">
    <label class="sr-only">姓名</label>
    <input type="text" class="form-control" name="sname" placeholder="姓名"  required="" autofocus="">
    <label class="sr-only">性别</label>
    <input type="text" class="form-control" name="ssex" placeholder="性别"  required="" autofocus="">
    <label class="sr-only">班级</label>
    <input type="text" class="form-control" name="sclass" placeholder="班级"  required="" autofocus="">
    <label class="sr-only">账号</label>
    <input type="text" class="form-control" name="susername" placeholder="账号"  required="" autofocus="">
    <label class="sr-only">密码</label>
    <input type="password" class="form-control" name="spassword" placeholder="密码" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
    </br>
    </br>
    <a th:href="@{/logout}" class="mt-5 mb-3 text-muted" style="text-decoration: underline;font-style: italic">已有账号？点击登录</a></br></br>

    <a class="btn btn-sm">中文</a>
    <a class="btn btn-sm">English</a>
</form>

</body>

</html>